/* Button.css */
.button {
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.button-primary {
    background-color: #FF7043;
    color: #FFF9E3;
}

.button-primary:hover {
    background-color: #003366;
    color: #FFF9E3;
    transform: scale(1.05);
}

.button-secondary {
    background-color: #FFC107;
    color: #003366;
}

.button-secondary:hover {
    background-color: #003366;
    color: #FFF9E3;
    transform: scale(1.05);
}

/* .button-disabled {
    background-color: #d6d6d6;
    color: #a9a9a9;
    cursor: not-allowed;
} */
